@import "partial/common";
@import "partial/btn_slide";


.container {
	width: 400px;
	// height: 800px;
	margin: 0 auto;
	padding: 10px;

	// background-color: crimson;
}

.form-title {
	font-size: 3rem;
	text-align: center;
	margin-top: 20px;
}

.form-container {
	width: auto;
	margin: 0 auto;
}

// form style
.form-item {
	margin: 30px 0;
}

.form-text-area {
	display: block;
}

.form-label {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.form-control {
	display: block;
	border: 1px solid black;
	margin: 0 auto;
}

.form-img {
	text-align: center;
	padding: 0 50px;
}


