
<div class="card card-skin">
	<% @posts.each do |post| %>
	<div class="item-wrapper">
		<img class="card__imgframe" src="<%= "#{post.image}" %>">
		<div class="card__textbox">
			<div class="card__titletext">
				<%= post.title %>
			</div>
			<div class="card__overviewtext">
				<%= post.description %>
			</div>
		</div>
	</div>
	<% end %>
</div>

