<% content_for :css do %>
	<%= stylesheet_link_tag 'admin/edit' %>
<% end %>

<div class="container">
  <h1 class="form-title">プロフィール編集</h1>
  <%=render partial: 'users_form', locals: { user: @user } %>
</div>


<div class="nav justify-content-end">
  <%=link_to 'back page', admin_user_path, class: 'nav-link'%>
</div>
