<% content_for :css do %>
	<%= stylesheet_link_tag 'admin/new' %>
<% end %>


<h1>ユーザ登録</h1>

<div class="nav justify-content-end">
  <%=link_to 'back page', admin_users_path, class: 'nav-link'%>
</div>

<%= render partial: 'users_form', locals: { user: @user }%>
