// postカードデザイン
.card-wrapper {
  margin: 80px 40px;
}

.card{
  display: grid;
  // width: 650px;
	height: auto;
  // margin: 30px auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.item-wrapper{
	width: 90%;
  margin: 0 auto 30px;
  background-color: #ecf0f1;
  max-width: 400px;
}

.card__imgframe{
  width: 100%;
  height: auto;
	background-size: cover;
  box-sizing: border-box;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  box-sizing: border-box;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
	line-height: 125%;
	margin-bottom: 10px;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}
