@import "partial/card";
@import "partial/gmap";

//入力フォームのスタイル
.form-title {
  color: #34495e;
  font-weight: bold;
  font-size: 3rem;
  border-left: solid 6px #7db4e6;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 20px;
}

.form-wrapper {
  background-color: #ecf0f1;
  width: 40%;
  margin: 50px auto 0;
  margin-top: 30px;
  padding: 3% 5%;
}

.form-group {
  width: 100%;
  margin-top: 30px;
}

.form-text{
  color:#34495e;
}

.form-control{
  display: block;
  width: 90%;
  // max-width: 90%;
  height: calc(2.25rem + 2px);
  border:0;
  padding:10px;
  font-size:1.4rem;
  font-family:Arial, sans-serif;
  color:#34495e;
  border:solid 1px #ccc;
  margin:0 0 20px;
  line-height: 1.5;
  border-radius: 0.25rem;
}

// textarea_style
.form-text-area{
  width: 90%;
  height: 200px;
}

// btn style
.btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #7db4e6;
  border: solid 2px #7db4e6;
  border-radius: 3px;
  transition: .4s;
}

.btn:hover {
  background: #7db4e6;
  color: white;
}

.btn-control {
  margin-top: 30px;
}

.btn-modal {
  border: 1px solid;
}

// modal
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  }

  .modal-content{
  background-color: white;
  width: 500px;
  margin: 10% auto;
  }
