.aspect{
	width:100%;
	height:50vw;
}
.aspect_normal,
.aspect_dot,
.aspect_key,
.aspect_dotkey{
	width:100%;
	height:25vw;
}
#gmap_canvas,
#gmap_canvas_normal,
#gmap_canvas_dot,
#gmap_canvas_key,
#gmap_canvas_dotkey,
div.g_canvas{
	width:100%;
	height:100%;
}
